@keyframes btn_animate {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #14213d;
}

.active {
  display: flex !important;
}

input[type=search]::-webkit-search-decoration:hover,
input[type=search]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

i {
  cursor: pointer;
  color: #a0c4ff;
}
i:hover {
  color: #ffffff;
}

.basic {
  display: flex;
  height: 100vh;
  position: relative;
}
.basic_header {
  height: 60px;
  background-color: #1d3557;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  border-bottom: 5px solid #1d3557;
}
.basic_header_block {
  display: flex;
  align-items: center;
  z-index: 5;
}
.basic_header_search {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #a0c4ff;
  color: #1d3557;
  padding: 10px 15px;
  width: 270px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
}
.basic_header_search i {
  color: #1d3557;
}
.basic_header_search:before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #1d3557;
  border-radius: 50%;
  position: absolute;
  left: -17%;
}
.basic_header_search input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
  color: #1d3557;
}
.basic_header_search input::placeholder {
  color: #1d3557;
}
.basic_header_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d3557;
  border: 5px solid #a0c4ff;
  color: white;
  gap: 5px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  z-index: 6;
}
.basic_header_icon:active {
  transform: scale(0.9);
}
.basic_header_icon i {
  transform: rotate(0deg);
  transition: 0.5s;
}
.basic_header_icon i:hover {
  transform: rotate(360deg);
}
.basic_body {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.basic__menu {
  width: 100%;
  background-color: #1d3557;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  overflow: auto;
  position: relative;
}
.basic__menu_btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #a0c4ff;
  color: #14213d;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic__menu_add {
  z-index: 5;
  position: relative;
  font-size: 30px;
  color: #1d3557;
}
.basic__menu_animate {
  width: 100%;
  height: 100%;
  animation-name: btn_animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: #a0c4ff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.basic__menu::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__menu::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}
.basic__menu::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.5s;
}
.basic__menu::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__menu:hover::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.basic__menu:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0c4ff;
}
.basic__menu a {
  text-decoration: none;
  margin-top: 5px;
  width: 100%;
}
.basic__menu .user {
  width: 100%;
  height: 60px;
  background-color: #a0c4ff;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: space-around;
  border-radius: 6px;
}
.basic__menu .user_active {
  background-color: #1e6091;
}
.basic__menu .user_active .user__info, .basic__menu .user_active .user__data_clock {
  color: #ffffff;
}
.basic__menu .user:hover {
  background-color: #0077b6;
}
.basic__menu .user__img {
  width: 15%;
  height: 90%;
}
.basic__menu .user__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.basic__menu .user__info {
  width: 50%;
  color: #1d3557;
}
.basic__menu .user__data {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basic__menu .user__data_count {
  background-color: #1d3557;
  width: 25px;
  height: 25px;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic__menu .user__data_clock {
  color: #1d3557;
}
.basic__msg {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #14213d;
}
.basic__msg_overlay {
  width: 200px;
  height: 100px;
  background-color: #1e6091;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 9%;
  display: none;
}
.basic__msg_overlay ul {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  list-style: none;
}
.basic__msg_overlay ul li {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.basic__msg_overlay ul li:hover {
  color: #a0c4ff;
}
.basic__msg_icon {
  cursor: pointer;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic__msg_header {
  width: 100%;
  height: 50px;
  background-color: #1d3557;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
  border-left: 1px solid #14213d;
  border-right: 1px solid #14213d;
}
.basic__msg_text {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  height: 85%;
}
.basic__msg_text .texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}
.basic__msg_text .texts::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_text .texts::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}
.basic__msg_text .texts::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_text .texts::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_text .texts:hover::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.basic__msg_text .texts:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0c4ff;
}
.basic__msg_infos {
  width: fit-content;
  min-width: 30%;
  background-color: #1d3557;
  display: flex;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  justify-content: space-between;
}
.basic__msg_infos .text_data {
  align-self: flex-end;
  display: flex;
  gap: 5px;
  color: #a0c4ff;
}
.basic__msg .user {
  align-self: flex-end;
  background-color: #a0c4ff;
  color: #1d3557;
}
.basic__msg .user .text_data {
  color: #1d3557;
}
.basic__msg .user .text_data i {
  color: #0ead69;
}
.basic__msg_data {
  align-self: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #1d3557;
  color: #ffffff;
}
.basic__msg_info {
  color: #ffffff;
  width: 75%;
}
.basic__msg_icons {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.basic__msg_block {
  width: 100%;
  height: 50px;
  background-color: #1d3557;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #14213d;
  border-right: 1px solid #14213d;
  padding: 5px;
}
.basic__msg_block textarea {
  background-color: transparent;
  width: 85%;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  color: #ffffff;
}
.basic__msg_block textarea::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_block textarea::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}
.basic__msg_block textarea::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_block textarea::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.basic__msg_block textarea::placeholder {
  color: #ffffff;
}
.basic__sender {
  width: 25%;
  height: 100%;
  background-color: #1d3557;
  display: none;
}
.basic__sender_header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  height: 50px;
  align-items: center;
  color: #ffffff;
}
.basic__sender_block {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 30px;
  color: #ffffff;
  border-bottom: 10px solid #a0c4ff;
}
.basic__sender_block .block {
  display: flex;
  flex-direction: column;
}
.basic__sender_img {
  width: 70px;
  height: 70px;
}
.basic__sender_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(29, 53, 87, 0.62);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  left: -100%;
  z-index: 7;
}
.menu_active {
  left: 0;
}
.menu__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 100%;
  background-color: #14213d;
  color: #ffffff;
}
.menu__block ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__block ul li {
  border-bottom: 1px solid #a0c4ff;
  cursor: pointer;
}
.menu__block ul li a {
  text-decoration: none;
  color: #ffffff;
}
.menu__block_user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__block_user img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(29, 53, 87, 0.62);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  left: 0;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
}
.overlay_user {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.overlay__form {
  width: 300px;
  height: 200px;
  background-color: #a0c4ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.overlay__form i {
  color: #1d3557;
}
.overlay__form input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #1d3557;
}
.overlay__form input::placeholder {
  color: #1d3557;
}
.overlay__form button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1d3557;
  color: #ffffff;
  cursor: pointer;
}
.overlay__form button:active {
  transform: scale(0.9);
}

.contacts {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(29, 53, 87, 0.62);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.contacts__block {
  width: 400px;
  height: 90%;
  background-color: #1d3557;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contacts__block_btn {
  width: 150px;
  height: 30px;
  background-color: #a0c4ff;
  position: absolute;
  bottom: 5%;
  outline: none;
  cursor: pointer;
  border: none;
  left: 5%;
  border-radius: 5px;
  color: #1d3557;
}
.contacts__block_btn:active {
  transform: scale(0.8);
}
.contacts__block_search {
  width: 90%;
  display: flex;
  align-items: center;
  height: 40px;
  gap: 10px;
  justify-content: center;
}
.contacts__block_search input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
  color: #ffffff;
  height: 100%;
}
.contacts__block_search input::placeholder {
  color: #ffffff;
}
.contacts__block_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 80%;
  overflow-y: auto;
}
.contacts__block_list::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.contacts__block_list::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}
.contacts__block_list::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.5s;
}
.contacts__block_list::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.contacts__block_list:hover::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.contacts__block_list:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0c4ff;
}
.contacts__block_item {
  width: 90%;
  height: 60px;
  background-color: #a0c4ff;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #1d3557;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}
.contacts__block_item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(29, 53, 87, 0.62);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  z-index: 7;
  display: none;
  justify-content: center;
  align-items: center;
}
.contact__block {
  width: 300px;
  height: 400px;
  background-color: #a0c4ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact__block input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #1d3557;
}
.contact__block input::placeholder {
  color: #1d3557;
}
.contact__block button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1d3557;
  color: #ffffff;
  cursor: pointer;
}
.contact__block button:active {
  transform: scale(0.9);
}
.contact__block_camera {
  width: 100px;
  height: 30px;
  background-color: rgba(20, 33, 61, 0.66);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  transition: 0.5s;
  cursor: pointer;
}
.contact__block_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.contact__block_img:hover .contact__block_camera {
  bottom: 0;
}
.contact__block_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.confirmation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(29, 53, 87, 0.62);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  z-index: 7;
  display: none;
  align-items: center;
  justify-content: center;
}
.confirmation__block {
  width: 250px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #a0c4ff;
  border-radius: 5px;
}
.confirmation__block_second {
  display: flex;
  gap: 10px;
  align-items: center;
}
.confirmation__block_second input {
  width: 20px;
  height: 20px;
}
.confirmation__block_btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.confirmation__block_btn button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1d3557;
  color: #ffffff;
  cursor: pointer;
  width: 40%;
  height: 30px;
}
.confirmation__block_btn button:active {
  transform: scale(0.9);
}
.confirmation__block_btn .no {
  background-color: #86092c;
}
.confirmation__block_btn .yes {
  background-color: #38E54D;
}

/*# sourceMappingURL=basic.css.map */
